{% extends 'base.html' %}

{% block content %}
    <h1>Наша продукция</h1>
    {% for product in products %}
    <div class="col-md-4 col-xs-12">
        <h3><a href="{% url 'product' product.id %}">{{ product.title }}</a></h3>
        <!--         <p>Описание: {{ product.description }}</p> -->
        <img src="{{ product.get_img }}" alt="{{ product.img }}" width="100%" alt=';bp'>
        <p>Цена: {{ product.price }}</p>
        <button class="btn btn-primary">В корзину</button>
        
    </div>
    {% endfor %}
{% endblock %}
